.ccard0 {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5%;
  width: 25px;
  height: 55px;
  background-color: red;
  color: red;
  padding: 10px;
}

.ccard {
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-color: black;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  width: 12px;
  height: 55px;
  background-color: red;
  color: red;
  padding: 10px;
}
